<div #carousel id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleSlidesOnly" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleSlidesOnly" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleSlidesOnly" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../../assets/sonriente_mujer.jpg" class="d-block w-100" alt="Slide 1">
      <div class="carousel-caption d-none d-md-block banner-content">
        <h5>Especializate en el area que mas te gusta <span>con profesionales de primer nivel.</span></h5>
        <p>
          Technology and the world of work change fast — with us,
          you’re faster. Achieve goals and stay competitive with on-
          demand learning, hands-on practice, and more.
        </p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="../../assets/medicina_uniforme.jpg" class="d-block w-100" alt="Slide 2">
      <div class="carousel-caption d-none d-md-block banner-content">
        <h5>Especializate en el area que mas te gusta <span>con profesionales de primer nivel.</span></h5>
        <p>
          Technology and the world of work change fast — with us,
          you’re faster. Achieve goals and stay competitive with on-
          demand learning, hands-on practice, and more.
        </p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="../../assets/trabajadores_medicos.jpg" class="d-block w-100" alt="Slide 3">
      <div class="carousel-caption d-none d-md-block banner-content">
        <h5>Especializate en el area que mas te gusta <span>con profesionales de primer nivel.</span></h5>
        <p>
          Technology and the world of work change fast — with us,
          you’re faster. Achieve goals and stay competitive with on-
          demand learning, hands-on practice, and more.
        </p>
      </div>
    </div>
  </div>
</div>
