
img {
  
  justify-content: center;
  align-items: center;
  min-height: 30%;
  max-height:35%;
  position:relative;
}

  .btn {
    height: 100%;
    width: 100%;
    min-width: 100% !important;
    border: 2px double #ccc;
    cursor: pointer;
    transition: border 0.3s ease-in-out;
  }

    .btn:hover {
      border: 2px double #1c86b9;
    }
