<div class="container-fluid" *ngIf="!isChanged">
  <div class="container" *ngIf="user">
    <h1>Cambiar Contraseña</h1>
    <p class="mail">{{user.email}}</p>
    <input class="form-control" placeholder="Nueva contraseña..." [(ngModel)]="password" />
    <input class="form-control" placeholder="Repetir contraseña..." [(ngModel)]="repeatPassword" />
    <div class="error-container" *ngIf="password && repeatPassword && password !== repeatPassword">
      <p class="error-text">Las contraseñas no coinciden</p>
    </div>
    <div class="button-container">
      <button type="submit" [disabled]="!password || !repeatPassword || password !== repeatPassword" (click)="onChangePassword()">Cambiar contraseña</button>
    </div>
  </div>

  <div class="container" *ngIf="!user">
    <h1>El formulario a espirado, por favor vuelve a generar el correo de verificacion por meddio de la opcion "olvide mi contraseña"</h1>
    <div class="d-flex justify-content-center">
      <button routerLink="/">Volver al Inicio</button>
    </div>
  </div>
</div>

<div class="container-fluid" *ngIf="isChanged">
  <div class="container">
    <h1>Tu contraseña fue actualizada! Ya puedes iniciar sesion!</h1>
    <div class="d-flex justify-content-center">
      <button routerLink="/">Volver al Inicio</button>
    </div>
  </div>
</div>
