.container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
}

.container {
  padding: 30px 50px;
  background: #FFF;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  display:flex;
  flex-direction:column;
  gap:20px;
}

h1 {
  margin: 15px 0;
  color: #000;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
}

.mail {
  margin: 0;
  color: #0e679b;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 19.6px;
  letter-spacing: -0.2px;
}

.form-control::placeholder{
  opacity:0.5;
}

.error-container {
  display: flex;
  justify-content: center;
}
.error-text{
  color:red;
}

.button-container{
  display:flex;
  justify-content:flex-end;
}
button {
  padding: 5px 25px;
  background: #0e679b;
  border: 1px solid #0e679b;
  color: #FFF;
}
  button:disabled {
    padding: 5px 25px;
    background: #0e679b;
    border: 1px solid #0e679b;
    color: #FFF;
    opacity: 0.4;
  }
